<div> <table cellpadding = "5px" cellspacing = "5px" width = "100%" class="table table-hover">
 
  <tr>
    <th><strong>CUSTOMER NAME</strong></th>
    <th><strong>DEPOSIT AMOUNT</strong></th>
    <th><strong>NO OF YEARS</strong></th>
    <th><strong>INTEREST</strong></th>
    <th><strong>MATURITY AMOUNT</strong></th>
    <th><strong>DELETE</strong></th>
  </tr>

  <% @deposits.each do |deposit| %>
  <tr>
      <td> <%= deposit.customer_name %></td>
      <td> <%= deposit.amount %></td>
      <td> <%= deposit.no_of_year %></td>
      <td> <%= deposit.interest_rate %></td>
      <td> <%= deposit.Final %></td>
      <td> <%= link_to "Delete",deposit_path(deposit),class: "btn btn-danger",
      method: :delete, confirm: "Are You Sure?" %></td>
  </tr>
  <% end %>
 </table>
<%= will_paginate @deposits %>
